
{% extends 'base/base.html' %}
{% block content %}
  {% load static %}
        {% include 'includes/_navbars.html' %}
         
        <!--Hero Area-->
    <section class="hero-section">
        <div class="hero-area wave-animation">
            <div class="single-hero gradient-overlay">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 centered">
                            <div class="hero-sub">
                                <div class="table-cell">
                                    <div class="hero-left">
                                        {% if validlink %}
                                        <p>Reset Password</p>
                                        <div class="account-form">
                                            <form method="post">
                                            {% csrf_token %}
                                                <div class="col-xl-12">
                                                    <input type="password" placeholder="Enter password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
                                                </div>
                                                <div class="col-xl-12">
                                                    <input type="password" placeholder="Confirm password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                                </div>
                                                {% for field in form %}
                                                {% for error in field.errors %}
                                                  <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                                {% endfor %}
                                                <button class="btn btn-primary btn-block" type="submit" >Submit</button>
                                            </form>
                                            
                                        </div>
                                        {% else %}
                                          <div class= "login">
                                          <div class="jumbotron" style="background: transparent;">
                                        <p>
                                          The password reset link was invalid, possibly because it has already been used.
                                          Please request a new password reset.
                                        </p>
                                        </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Hero Area-->

    {% include 'includes/_footer.html' %}
    {% include 'includes/_scripts.html' %}

  {% endblock %}
