{% extends 'base/base.html' %}
{% block content %}
  {% load static %}
        {% include 'includes/_navbars.html' %}
         
        <!--Hero Area-->
    <section class="hero-section">
        <div class="hero-area wave-animation">
            <div class="single-hero gradient-overlay">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 centered">
                            <div class="hero-sub">
                                <div class="table-cell">
                                    <div class="hero-left">
                                        
                                        <p>Enter Email Your Email To Reset</p>
                                        <div class="account-form">
                                            <form method="post">
                                            {% csrf_token %}
                                                <div class="col-xl-12">
                                                    <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Enter your email">
                                                </div>
                                                {% for field in form %}
                                                {% for error in field.errors %}
                                                  <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                                {% endfor %}
                                                <button class="btn btn-primary btn-block" type="submit" >Submit</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Hero Area-->

    {% include 'includes/_footer.html' %}
    {% include 'includes/_scripts.html' %}

  {% endblock %}
