{% load static %}

<!--feature Area-->
    <section class="feature-area section-padding-3 gradient-overlay parallax-window" data-parallax="scroll" data-image-src="assets/images/map.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 centered wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title cl-white">
                        <h2>Why We're special</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="single-feature-2">
                        <img  src="{% static 'assets/images/icons/11.png' %}" alt="" width="50px" height="50px">
                        <h4>Profit Growth</h4>
                        <p>Because the global forex market is so large, it offers traders significant liquidity, which is the ease with which traders can exchange one asset for another.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-feature-2">
                        <img src="{% static 'assets/images/icons/22.png' %}" alt="" width="50px" height="50px">
                        <h4>Trade Cycle and Exchanges</h4>
                        <p>The balance of trade influences currency exchange rates through its effect on the supply and demand for foreign exchange (Forex).</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="single-feature-2">
                        <img  src="{% static 'assets/images/icons/33.png' %}" alt="" width="50px" height="50px">
                        <h4>Secure Wallet</h4>
                        <p>Absolute security for your wallet is garuanteed as RFID blocking wallets, sleeves, and other products offer protection against RFID skimming are employed for client protection.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="single-feature-2">
                        <img  src="{% static 'assets/images/icons/44.png' %}" alt="" width="50px" height="50px">
                        <h4>Worldwide Coverage</h4>
                        <p>
We offer service to all countries and race Courtesy worldcryptocoinx currency enabling investments within the shortest notice as market Profit opportunity arises.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-feature-2">
                        <img  src="{% static 'assets/images/icons/55.png' %}" alt="" width="50px" height="50px">
                        <h4>Safe and Secure</h4>
                        <p>No investment is completely safe, but but forex and worldcryptocoinx are considered to be among the safest investments you can own as minig is an accumulation process for wealth building.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="single-feature-2">
                        <img  src="{% static 'assets/images/icons/66.png' %}" alt="" width="50px" height="50px">
                        <h4>Covered by Insurance</h4>
                        <p>
Planning ahead keeps us inline and growing as Our insurrance skim provides a refund plan to all investment loss if any which we do not experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/feature Area-->


