    {% load static %}
    <section class="section-padding-2 gradient-overlay poly-particle">
        <div class="triangle-particle">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 centered">
                        <div class="section-title cl-white">
                            <h4>Our Partners</h4>
                            <h2>We work with</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center centered">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-box">
                            <img src="{% static 'assets/images/icons/EXMO.png' %}" alt="" style="width: 300px;height: 108px;">
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-box">
                            <img src="{% static 'assets/images/icons/forex.png' %}" alt="" style="width: 300px;height: 108px;">
                            
                        </div>
                    </div>
                

                </div>
               
            </div>
        </div>
    </section><!--/Section-->