{% load static %}

    <section class="section-padding blue-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 centered">
                    <div class="section-title cl-white">
                        <h4>Payment Methods</h4>
                        <h2>Payment Gateways</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/eth.jpg' %}" width='100' alt=""></a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/btc.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/usd.jpg' %}" alt=""></a>
                    </div>
                </div>
                {% comment %} <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/4.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/5.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/1.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/1.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/2.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/3.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                    <div class="single-brands">
                        <a href="#"><img src="{% static 'assets/images/brands/4.png' %}" alt=""></a>
                    </div>
                </div>  {% endcomment %}
            </div>
            {% comment %} <div class="row">
                <div class="col centered">
                    <a href="#" class="bttn-small btn-emt">Explore all</a>
                </div>
            </div> {% endcomment %}
        </div>
    </section><!--/Brands Area-->
