{% load static %}

    <section class="review-area section-padding gradient-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="section-title cl-white">
                        <h2>testimonials</h2>
                        <p>Lose away off why half led have near bed. At engage simple father of period others except</p>
                    </div>
                    <div class="testimonials owl-carousel">
                        <div class="single-review">
                            <div class="reviewer-thumb">
                                <img src="{% static 'assets/images/reviwer.png' %}" alt="">
                                <h3>Erin Washington</h3>
                                <span>Co founder, Rocket agency</span>
                            </div>
                            <p>I have always looked for a true investment company and i got it, i made millions of dollars by just investing in this great business</p>
                        </div>
                        <div class="single-review">
                            <div class="reviewer-thumb">
                                <img src="{% static 'assets/images/reviwer-2.png' %}" alt="">
                                <h3>Mario wagon</h3>
                                <span>Businessman</span>
                            </div>
                            <p>This is a great place to deal, This is the place i would keep on investing great investment plans.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Review Area -->
    