{% load static %}
 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <aside class="sidebar">
                        <ul>
                            <li {% if  request.path == '/dashboard/'  %}class="active"{% endif %} ><a href="{% url 'main:dashboard' %}"><i class="ti-direction"></i>Dashboard</a></li>
                            <li {% if  request.path == '/dashboard/#balance'  %}class="active"{% endif %}><a href="/dashboard/#balance"><i class="ti-exchange-vertical"></i>Current Balance</a></li>
                            <li {% if  request.path == '/invest/'  %}class="active"{% endif %}><a href="{% url 'main:invest' %}"><i class="ti-direction"></i>Invest</a></li>
                            <li><a href="#"><i class="ti-wallet"></i>Confirm payments</a></li>
                            <li><a href="#"><i class="ti-check-box"></i>Transection Log</a></li>
                            <li><a href="#"><i class="ti-help-alt"></i>Support</a></li>
                        </ul>
                    </aside>
                </div>