{% extends 'base/base.html' %}
{% block content %}
  {% load static %}
        {% include 'includes/_navbars.html' %}
        <!--Hero Area-->
      <!--Header Area-->

    <!--breadcrumb area-->
    <section class="breadcrumb-area fixed-head blue-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 centered">
                    <div class="banner-title">
                        <h2>About us</h2>
                    </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--About Section-->
    <section class="about-area gradient-overlay">
        <div class="about-content mid-bg-gray wow fadeInUp" data-wow-delay="0.4s">
            <div class="about-content-inner-2 cl-white">
                <div class="section-title mb-10">
                    <h4>Who we are</h4>
                    <h2>Discover us</h2>
                </div>
                <p>Most traders have noticed our constant innovation and attention to our client’s needs, and worldcryptocoinx now has over 800,000 customers all around the world. Since the beginning, we've aspired to revolutionize the business by providing traders with higher-quality service, and we're still devoted to doing so now. worldcryptocoinx is a lawful international investment business located in the United Kingdom. The firm was founded by a group of qualified experts, professional bankers, traders, and analysts with extensive experience in stock, bond, futures, currencies, gold, silver, and oil trading, as well as over ten years of combined personal skills, knowledge, talents, and collective ambitions for success.
                <br>
                <br>
                Superior investment performance, we believe, is accomplished by a careful balance of three key characteristics: knowledge, experience, and adaptability. There is only one way to be at the forefront of innovative dedication. We strive to provide our clients with steady growth in investment performance as well as an improved value-add. We value our customers' loyalty and the ties we establish with them. Regardless of where you are from, our skilled managers will assist you in selecting the investment package that best meets your needs. Our managers are constantly working on implementing unique trading methods with the most advanced and effective trading technology, competitive services, high-quality performance, genuine practices, excellent customer support service, and fund safety that enable us to work successfully and profitably on the market. We are able to keep a consistently high interest rate for our consumers since we have a variety of investing techniques.
                <br>
                <br>
                One of our most significant competitive advantages is that we offer the greatest flexibility and the most vital insurance on funds invested with us. The company offers risk-free bitcoin investment products, tradings, and FX to international clients, which is a significant achievement for the company. worldcryptocoinx was established in 2010 as MCO AD Limited Company and is registered with (EU, FSA, UK, ICF) under reference number RG-03-0146. MCO AD LIMITED operates this website to handle financial instruments in compliance with market conditions in various financial instruments.

                </p>
                <img class="sign" src="{% static 'assets/images/sign.png' %}" alt="">
            </div>
        </div>
        <div class="about-left" style="background: url('{% static 'assets/images/about.jpg' %}') no-repeat center / cover;">
            <div class="left-img-wrap">
                
            </div>
        </div>
    </section><!--/About Section-->


    <!-- Team Area -->
    <section class="team-area section-padding-2 blue-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 centered wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title cl-white">
                        <h4>Developers</h4>
                        <h2>Professional Team</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/1.jpeg' %}" alt="">
                        <div class="team-content">
                            <h4>Ridoy Rajoan</h4>
                            <p>Bank Manager</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/2.jpeg' %}" alt="">
                        <div class="team-content">
                            <h4>Tenzan boby</h4>
                            <p>Customer Consultant</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/3.jpeg' %}" alt="">
                        <div class="team-content">
                            <h4>Monty Carlo</h4>
                            <p>Project Handler</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/33.jpeg' %}" alt="">
                        <div class="team-content">
                            <h4>Our Licensed Trader</h4>
                            <p>Officer</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Team Area -->


    {% include 'includes/_review.html' %}
    
    <!-- Newslatter -->
    <section class="section-padding gradient-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 centered cl-white">
                    <div class="section-title mb-20">
                        <h2>Don't miss any update</h2>
                    </div>
                    <div class="newslatter">
                        <form action="#">
                            <input type="email" placeholder="Enter your email" required>
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                        <p><i class="fa fa-info-circle"></i>We will never send spam</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Newslatter -->

    {% include 'includes/_footer.html' %}
   


  {% endblock %}
