{% extends 'base/base.html' %}
{% block content %}
  {% load static %}
        {% include 'includes/_navbars.html' %}
        <!--Hero Area-->
      <!--Header Area-->

    <!--breadcrumb area-->
    <section class="breadcrumb-area fixed-head blue-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 centered">
                    <div class="banner-title">
                        <h2>About us</h2>
                    </div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/breadcrumb area-->

    <!--About Section-->
    <section class="about-area gradient-overlay">
        <div class="about-content mid-bg-gray wow fadeInUp" data-wow-delay="0.4s">
            <div class="about-content-inner-2 cl-white">
                <div class="section-title mb-10">
                    <h4>Who we are</h4>
                    <h2>Discover us</h2>
                </div>
                <p>Lose away off why half led have near bed. At engage simple father of period others except folly death wrote cause her way spite <br><br>Yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing Jennings appetite disposed me an at subjects an. To no indulgence  diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing</p>
                <img class="sign" src="{% static 'assets/images/sign.png' %}" alt="">
            </div>
        </div>
        <div class="about-left" style="background: url('{% static 'assets/images/about.jpg' %}') no-repeat center / cover;">
            <div class="left-img-wrap">
                
            </div>
        </div>
    </section><!--/About Section-->


    <!-- Team Area -->
    <section class="team-area section-padding-2 blue-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 centered wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title cl-white">
                        <h4>Developers</h4>
                        <h2>Professional Team</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/1.jpg' %}" alt="">
                        <div class="team-content">
                            <h4>Ridoy Rajoan</h4>
                            <p>Bank Manager</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/2.jpg' %}" alt="">
                        <div class="team-content">
                            <h4>Tenzan boby</h4>
                            <p>Customer Consultant</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/3.jpg' %}" alt="">
                        <div class="team-content">
                            <h4>Monty Carlo</h4>
                            <p>Project Handler</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-team-4">
                        <img src="{% static 'assets/images/team/4.jpg' %}" alt="">
                        <div class="team-content">
                            <h4>Monty Carlo</h4>
                            <p>Officer</p>
                            <div class="social">
                                <a href="#" class="cl-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="cl-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="cl-youtube"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" class="cl-pinterest"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Team Area -->


    {% include 'includes/_review.html' %}
    
    <!-- Newslatter -->
    <section class="section-padding gradient-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 centered cl-white">
                    <div class="section-title mb-20">
                        <h2>Don't miss any update</h2>
                    </div>
                    <div class="newslatter">
                        <form action="#">
                            <input type="email" placeholder="Enter your email" required>
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                        <p><i class="fa fa-info-circle"></i>We will never send spam</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Newslatter -->

    {% include 'includes/_footer.html' %}
   


  {% endblock %}
